.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  padding: 10px;
  margin-top: 20px;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.description-container {
  margin-top: 40px;
  border-top: 1px solid var(--color-zinc-600);
  padding: 10px;
}

.info-container {
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-box {
  position: relative;
  width: 260px;                     /* pick a size you like */
  height: 260px;
  flex: 0 0 auto;                   /* don't grow/shrink with text */
}

.image-box :global(img) {
  object-fit: contain;              /* keep aspect ratio */
}

/* .image-container img {
  height: auto;
  width: auto;
  max-width: 100%;
  object-fit: contain;
} */

.title {
  font-size: 24px;
  font-weight: bold;
}

.price {
  font-size: 17px;
  color: var(--color-zinc-400);
}

.description {
  font-size: 14px;
  color: #cfcfcf;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn-cart {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-cart:hover {
  background-color: #dddddd;
}

.btn-card-added {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.btn-buy {
  background-color: #00a11b;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-buy:hover {
  background-color: #008414;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .image-container, .info-container {
    width: 100%;
    padding: 10px;
  }

  .image-box { width: 60vw; height: 60vw; }
}

.quantity-input {
  margin-top: 17px;
  margin-bottom: 10px;
  outline: none;
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #5c5c5c;
}

.quantity-input:hover {
  border: 1px solid #777777;
}

.quantity-input:focus {
  border: 1px solid #00a11b;
}