.navbar-container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Buttons
*************************************/

.navbar-btn {
  margin-left: 10px;
  margin-right: 10px;
}

/* Sections
*************************************/

.navbar-logo {
  display: flex;
  justify-content: center;
  min-width: 120px;
}

.navbar-btns {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  justify-content: center;
  min-width: 120px;
}

@media (max-width: 768px)  {
  .navbar-btns {
    display: none;
  }
  .navbar-container {
    justify-content: space-between;
  }
}